<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
        就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.muxi.sample.spring.dao.write.QuestionMapper">

    <resultMap id="baseResultMap" type="com.muxi.sample.spring.entity.QuestionDO">
        <result column="questionId" property="id" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectById" parameterType="long" resultMap="baseResultMap">
        select * from dev_question where questionId = #{id}
    </select>
</mapper>